.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 4rem;

    background: #0C0505;
}


.musics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;
    margin-bottom: 25rem;
}